.tab-pane {

    padding-top: 20px;
}

.container {

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: none !important;
}

.navbar-nav {

    .nav-item {

        &:last-child {

            .nav-link {

                padding-right: 0;
            }
        }
    }
}

.worker {

    .nav-tabs {

        .worker-settings-controller {

            margin-left: auto;
            display: flex;

            .settings-block {
    
                .settings-block__main-btn {
    
                    & > .app-btn {
    
                        outline: none;
                    }
            
                    &_open {
            
                        & > .app-btn {
            
                            background-color: #0064b4;
                            border-color: #0064b4;
                            color: #fff;
                        }
                    }
                }
    
                .settings-block__btns {
    
                    & > .app-btn {
            
                        margin-bottom: 5px;
                        outline: none;
            
                        &:last-child {
            
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.act {

    padding: 20px;
}

.no-original-act {

    background-color: rgba(227, 52, 47, 0.2);
    border-radius: 0.25rem;

    .tab-content-wrapper__list-item-body {

        padding-bottom: 10px;
    }
}

.tab-content-wrapper__fixed-technique-list-item, .tab-content-wrapper__services-list-item {

    .tab-content-wrapper__list-item-body {

        .tab-content-wrapper__list:first-child {

            margin-top: 0 !important;
        }
    }
}

.form-control.is-invalid {

    background: transparent;
    padding-right: 12px;
}

.worker-fixed-technique-tab-content-controller {

    .tab-content-wrapper {

        .add-btn {

            display: none;
        }

        .tab-content-wrapper__list {

            margin-bottom: 0;
        }
    }
}

.admin-acts-tab-content-controller {

    .tab-content-wrapper {

        .add-btn {

            display: none;
        }
    }
}