.app-btn {

    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    background-color: transparent;
    color: #0064b4;
    padding: 0;
    line-height: 40px;
    text-align: center;
    outline: none !important;

    &:hover {

        background-color: #0064b4;
        border-color: #0064b4;
        color: #fff;
    }
}