.attach-component-parts-modal-window {

    .attach-component-parts-modal-window__categories {

        .attach-component-parts-modal-window__category {

            margin-bottom: 10px;

            &:last-child {

                margin-bottom: 0;
            }

            .attach-component-parts-modal-window__category-head {

                display: inline-block;
                cursor: pointer;

                &::before {

                    content: '+';
                    display: inline-block;
                    width: 15px;
                    color: #0064b4;
                }

                &_show {

                    &::before {

                        content: '-';
                    }
                }
            }

            .attach-component-parts-modal-window__category-body {

                padding-left: 15px;
                display: none;
                margin: 10px 0;

                .attach-component-parts-modal-window__component-parts {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .attach-component-parts-modal-window__component-part {

                        border: 1px solid #dee2e6;
                        border-radius: 0.25rem;
                        padding: 0 12px;
                        margin-bottom: 10px;
                        cursor: pointer;
    
                        &:last-child {
    
                            margin-bottom: 0;
                        }

                        &_attach {

                            background-color: green;
                        }
                    }
                }
            }
        }
    }
}